@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-scrollbar-visible:hover {
    overflow-y: scroll;
    scrollbar-width: 1px;
    -ms-overflow-style: 1px;
}

.scrollbar-hidden {
    overflow-y: hidden;
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

/* For WebKit browsers (Chrome, Safari) */
.hover-scrollbar-visible:hover::-webkit-scrollbar {
    width: 7px;
}

.hover-scrollbar-visible:hover::-webkit-scrollbar-thumb {
    background-color: #717a8a;
}